/*GLOBAL*/
/*header-bottom*/
.header-bottom p {
  text-align: center;
  color: #EFC732;
}
span {
  color: #EFC732;
}
.image-information {
  background-image: url(../images/boy.png);
  background-size: cover;
  height: 300px;
}
.informations .paragraphe {
  margin: 100px;
}

.news-images img {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 30px;
  width: 60%;
}




/*PC*/
@media screen and (min-width: 800px) {
  /*Header bottom*/
  .header-bottom {
    align-items: flex-start;
  }
  .header-bottom h1,
  .header-bottom p {
    margin-left: 100px;
  }
  .image-information  {
    height: 400px;
    background-position: center;
  }
  .informations .paragraphe p {
    line-height: 30px;
    font-size: 20px;
  }
  .news-images {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .news-images img {
    border-radius: 20px;
    width: 30%;
  }
}