.product {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productcontent {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid #EFC732;
    padding: 50px 50px;
}
.form-group-index {
    display: flex;
    flex-direction: column;
}
.product img {
    width: 200px;
    height: 200px;
}
.priceproduct {
    font-weight: bold;
    color: #EFC732;
}
.bold {
    font-weight: bold;
}
#quantity {
    padding: 5px 0;
}
.editbuttonproduct {
    padding: 5px 5px;
}
.adminbuttonindex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}